<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @*<base href="/">*@
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/font-awesome.css" rel="stylesheet" />
    @*Solve IE 11 issues *@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
        <script src="https://unpkg.com/angular2/es6/dev/src/testing/shims_for_IE.js"></script>*@
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="~/lib/js/es6-shim.min.js"></script>
    
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="~/lib/css/bootstrap-datepicker.min.css">
    <link href="~/lib/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/css/ng2-slim-loading-bar.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    @RenderSection("styles", required: false)

    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>

    <script src="~/lib/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/js/bootstrap-timepicker.min.js"></script>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="~/lib/js/shim.min.js"></script>
    <script src="~/lib/js/zone.js"></script>
    <script src="~/lib/js/Reflect.js"></script>
    <script src="~/lib/js/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="~/lib/js/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        @RenderSection("customScript", required: false)
    </script>
</body>
</html>